@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    margin: 0;
    padding: 0;
    background-color: #f9f9ff;
    color: #111c2d;
    font-family: 'Inter', sans-serif;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: #f0f3ff;
  }

  ::-webkit-scrollbar-thumb {
    background: #c1c8cb;
    border-radius: 9999px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #71787b;
  }
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.material-symbols-outlined.fill {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}
